////////////////////////////////////////////////
// Form Component Overrides
// Buttons, inputs, selects, and controls
////////////////////////////////////////////////

// Buttons
.button {
  transition: all 200ms ease;
  border-width: $border-width;

  &.is-active,
  &.is-focused,
  &:active,
  &:focus {
    box-shadow: 0 0 0 2px rgba($button-focus-border-color, 0.25);
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      &.is-active,
      &.is-focused,
      &:active,
      &:focus {
        border-color: $color;
        box-shadow: 0 0 0 2px rgba($color, 0.25);
      }
    }
  }
}

// Input and textarea
.input,
.textarea {
  transition: all 200ms ease;
  box-shadow: none;
  border-width: $border-width;
}

// Select
.select {
  &:after,
  select {
    border-width: $border-width;
  }
}

// Control with addons
.control {
  &.has-addons {
    .button,
    .input,
    .select {
      margin-right: -$border-width;
    }
  }
}
