@use "./colors" as colors;

////////////////////////////////////////////////
// Component Variables
// Component-specific variable overrides
////////////////////////////////////////////////

// Navbar
$navbar-height: 4rem;
$navbar-background-color: colors.$primary;
$navbar-item-color: colors.$white-ter;
$navbar-item-hover-color: colors.$link;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: colors.$link;
$navbar-dropdown-arrow: #fff;
$navbar-dropdown-background-color: colors.$white-ter;
$navbar-divider-background-color: colors.$grey-lighter;
$navbar-dropdown-border-top: 1px solid $navbar-divider-background-color;
$navbar-dropdown-item-hover-color: colors.$link;
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-dropdown-item-active-background-color: transparent;
$navbar-dropdown-item-active-color: colors.$link;

// Theme font import flag (Lato font family)
$theme-import-font: true !default;
