////////////////////////////////////////////////
// Layout
// Border radius, widths, and spacing
////////////////////////////////////////////////

// Border radius
$radius-small: 3px;
$radius: 0.4em;
$radius-large: 8px;

// Border widths
$border-width: 2px;

// Control dimensions
$control-height: 2.5em;
